:root {
  --bgmain: #2EC4B6;
  --bgclock: #FFDAB9;
  --clockshape: 30%;
}

html,body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: monospace;
  background: var(--bgmain);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

input {
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
}

header .title {
  color: #011627;
  margin-left: 4rem;
}

header p {
  margin-top: 5px;
  margin-bottom: 5px;
}

header .controls {
  border-left: 3px black dashed;
  position: absolute;
  top: 25%;
  right: 2%;
  width: 300px;
  z-index: 999;
  padding: 10px 5px;
  font-size: 0.8rem;
}

.hide {
  display: none;
}

#controlPanel {
  color: whitesmoke;
  font-size: 0.8rem;
}

#controlPanel:hover {
  cursor: pointer;
}
.controls input{
  margin-bottom: 10px;
}

.title h1 {
  margin-bottom: 5px;
}

header .digitalTime {
  font-family: sans-serif;
  margin: 2rem 2rem 0 0;
}

.digitalTime #digital {
    letter-spacing: 2px;
}

footer {
  text-align: right;
  padding-right: 2rem;
}

div.clockArea {
  padding-top: 20px;
  height: 70%;
  margin: 40px auto;
}

.clock {
  background-color: var(--bgclock);
  width: 15rem;
  height: 15rem;
  border-radius: var(--clockshape);
  box-shadow:
    0 0 0 0.5rem #cf6a87,
    0 0 0 1rem #c44569;
  position: relative;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%; /* without this, will rotate from the center */
  transform: rotate(90deg);
}

.second {
  background-color: #E71D36;
}
.minute {
  background-color: #3c40c6;
}
.center {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 100%;
    margin: auto;
    left:0; right:0; top:0; bottom:0;
    box-shadow:
      0 0 0 3px whitesmoke inset;
}

.twelve {
   position: absolute;
   width: 5px;
   height: 10px;
   background: blue;
   left: 0;
   top: 0;
   right: 0;
   margin: 0 auto;
 }

.six {
   position: absolute;
   width: 5px;
   height: 10px;
   background: green;
   left: 0;
   bottom: 0;
   right: 0;
   margin: 0 auto;
}

.three {
   position: absolute;
   width: 10px;
   height: 5px;
   background: red;
   top: 0;
   bottom: 0;
   right: 0;
   margin: auto 0;
}

.nine {
   position: absolute;
   width: 10px;
   height: 5px;
   background: gold;
   top: 0;
   bottom: 0;
   left: 0;
   margin: auto 0;
}
